# Maintained by Content team and Contractors (as of Feb '26)
* @mdn/content-team @mdn/contractors

/.github/workflows/ @mdn/engineering
/.github/CODEOWNERS @mdn/content-team @mdn/engineering
/SECURITY.md @mdn/engineering
