# Mostly maintained by Hamish and Brian (as of Nov '23)
* @bsmth @hamishwillee

/.github/workflows/ @mdn/engineering
/.github/CODEOWNERS @mdn/content-team @mdn/engineering
/SECURITY.md @mdn/engineering
